# Node modules
node_modules

# Distribution folder
dist

# Environment files
.env
*.env
*.env.*

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux files
.Trash-*
.directory

# Logs and databases
*.log
*.sql
*.sqlite

# Temporary files
*.bak
*.tmp
*.temp
*.swp

# IDE and editor files
.vscode
.idea
*.sublime-project
*.sublime-workspace
*.tmproj
*.tmproject
*.komodoproject
*.settings
*.vimrc
*.jscsrc
*.jshint
.editorconfig

# Other
*.lock
*.pid
*.seed
*.pid.lock
.yarn-integrity
